.topnav {
    background-color:rgb(34, 34, 33);
    overflow: hidden;
    }
    .topnav a {
        float: left;
        display: grid;
        color: rgba(44, 184, 107, 0.658);
        text-align: center;
        padding: 4vh 6vh;
        text-decoration: none;
        font-size: 2vh;
    
    }
    .topnav a:hover {
        background-color: rgba(3, 73, 7, 0.459);
        color:rgba(3, 143, 73, 0.664);
        border-style:  solid; color: rgb(0, 128, 43);
    }
    .topnav a.active {
        background-color: rgba(49, 187, 36, 0.459);
        color: rgb(34, 34, 33);
    }
    .topnav .icon {
        display: none

    }